/* base.css */

/*
extra small devices (phones) up to 600px width
small devices (large phones) up to 768px width
medium devices (landscape tablets) up to 992px width
large devices (laptops/desktops) up to 1200px
extra large devices (large laptops and desktops) >= 1200px

Can use max-width: or min-width:, also orientation: landscape/portrait

@media only screen and (max-width: 600px) {
   standard_css declarations
}

@media only screen and (max-width: 768px) {

selector: tag #id .class

selector[, selector]* {styles}

*/


body {
    font-size: 29px;
}


input[type="radio"] {
    width: 28px;
    height: 28px;
}


input[type="number"] {
    font-size: 90%;
    text-align: right;
    border-color: #808080;
}


select {
    font-size: 90%;
    margin-bottom: 5px;
}


table {
    border-collapse: collapse;
    margin-bottom: 5px;
}

td th {
    text-align: center;
}

button {
    font-size: 90%;
}

.right-border {
    border-right: 1px solid black;
}

.fat-border {
    border-width: 5px;
}

.bottom-border {
    border-bottom: 1px solid black;
}

.middle-row {
}

.striped tr:nth-child(even) {
    background-color: #e8e8e8;
}

.full-width {
    width: 98%;
}

.bids {
    border: 1px solid black;
    margin-top: 5px;
}

.bids th {
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding-left: 5px;
    padding-right: 10px;
}

.bids td {
    border-top: 1px solid black;
    padding-right: 7px;
}

table.show_meld {
    border: 1px solid black;
    margin-top: 5px;
    text-align: center;
}

.show_meld th,td {
    border-width: 1px;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
}

table .red_right {
    border-right-color: red;
    border-right-width: 5px;
}

/*
table.show_meld th:nth-child(2) {
    border-left-color: red;
    border-left-width: 10px;
    padding-left: 15px;
}
*/
